@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 0 0% 3.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.6%;
  --sidebar: 233 22% 16%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 201 96% 32%;
  --primary: 3 100% 61%;
  --primary-foreground: 0 0% 100%;
  --secondary: 180 83% 48%;
  --border: 0 0% 89.8%;
  --success: 142 76% 36%;
  --destructive: 0 84% 60%;
}

[data-theme="dark"] {
  --background: 233 13% 10%;
  --foreground: 0 0% 98%;
  --card: 233 13% 14%;
  --card-foreground: 0 0% 98%;
  --sidebar: 233 13% 8%;
  --muted: 233 13% 20%;
  --muted-foreground: 0 0% 64.9%;
  --accent: 201 96% 48%;
  --primary: 3 100% 61%;
  --primary-foreground: 233 13% 10%;
  --secondary: 180 83% 50%;
  --border: 233 13% 20%;
  --success: 142 76% 36%;
  --destructive: 0 84% 60%;
}

* {
  @apply border-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-background text-foreground;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-full h-full;
}
